{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML>
<html>
  <div class="page-form">
    <body>
      <h1>This is your friendly percentage calculator.</h1>
      <br>
      <h2>What would you like to use today?<h2>
      <br>
      <a href="{{ url_for('increase') }}">Find the percentage increase/decrease</a>
      <br><br>
      <a href="{{ url_for('relative_perc') }}">Find out what percentage one number is of the other</a>
      <br><br>
      <a href="{{ url_for('gst_calculator') }}">GST calculator</a>
    </body>
  </div>
</html>

{% endblock %}
